@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ANIMATIONS */

.--el {
  --i: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 , 17, 18, 19, 20;
}

.btn:hover i:nth-child(1) { animation-delay: calc(1 * 0.075s); }
.btn:hover i:nth-child(2) { animation-delay: calc(2 * 0.075s); }
.btn:hover i:nth-child(3) { animation-delay: calc(3 * 0.075s); }
.btn:hover i:nth-child(4) { animation-delay: calc(4 * 0.075s); }
.btn:hover i:nth-child(5) { animation-delay: calc(5 * 0.075s); }
.btn:hover i:nth-child(6) { animation-delay: calc(6 * 0.075s); }
.btn:hover i:nth-child(7) { animation-delay: calc(7 * 0.075s); }
.btn:hover i:nth-child(8) { animation-delay: calc(8 * 0.075s); }
.btn:hover i:nth-child(9) { animation-delay: calc(9 * 0.075s); }
.btn:hover i:nth-child(10) { animation-delay: calc(10 * 0.075s); }
.btn:hover i:nth-child(11) { animation-delay: calc(11 * 0.075s); }
.btn:hover i:nth-child(12) { animation-delay: calc(12 * 0.075s); }
.btn:hover i:nth-child(13) { animation-delay: calc(13 * 0.075s); }
.btn:hover i:nth-child(14) { animation-delay: calc(14 * 0.075s); }
.btn:hover i:nth-child(15) { animation-delay: calc(15 * 0.075s); }
.btn:hover i:nth-child(16) { animation-delay: calc(16 * 0.075s); }
.btn:hover i:nth-child(17) { animation-delay: calc(17 * 0.075s); }
.btn:hover i:nth-child(18) { animation-delay: calc(18 * 0.075s); }
.btn:hover i:nth-child(19) { animation-delay: calc(19 * 0.075s); }
.btn:hover i:nth-child(20) { animation-delay: calc(20 * 0.075s); }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.btn i {
  font-style: normal;
}

.btn:hover {
  animation-name: gradient;
  animation-duration: 1s;
}

.btn:hover i {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes gradient {
  90% {
      background-color: none;
  }
}

@keyframes jump {
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.trans-y{
  transform-style: preserve-3d;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  transition: margin .2s ease, transform .2s ease 1s, opacity .3s ease;
}

.t-s-e{
  transition: 0.5s ease-in-out;
}
/* TRANSTITONS */
.tr-s-e:hover{
  background-color: #161614;
  transition: background-color 0.4s ease-in-out;
  opacity: 1;
}

/* CUSTOM CSS CLASSES */
/* ======= HEADER =========== */
.h-80-vh{
  height: 80vh;
}

.darkbg:hover{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  background-color: transparent;
  border: none;
  /* opacity: 0.9; */
}




/* GRID LAYOUT  */
/* ========= GRID LAYOUT ======== */
.grid-layout-cols{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid-col-2{
  grid-column: span 2;
}

.grid-row-2{
  grid-row: span 3;
}

.grid-col-3{
  grid-column: span 2;
}

.grid-row-3{
  grid-row: span -1;
}



/* IMAGE GRID LAYOUT  */
/* !====== IMAGE GRID LAYOUT !====== */

.bg-container{
  position: relative;
  display: inline-block; /* Adjust as needed */
}
.bg-container::before {
  content: "Book now"; /* Empty content */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Darker background color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition on hover */
}

/*  */
.bg-container:hover::before {
  opacity: 1; /* Show the overlay on hover */
}

/* Lo */
.bg-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}




/* IMAGE FIXED LAYOUT  */
/* !====== IMAGE FIXED LAYOUT !====== */
.fixed{
  position: fixed;
  top: 0;
  left:0;
  z-index: 9999;
  width: 100%;
}

/* EDIT THE BG TRANSPARENCY */
.fixed-bg{
  background-color: #151515;
  padding: 0;
  opacity: 1;
}


.fixed-txt.h-ct a{
 color: #fff;
}
/* dldl */
.h-f{
  position: fixed;
  top: 0;
  left:0;
  z-index: 9999;
  width: 100%;
}

/* EDIT THE BG TRANSPARENCY */
.h-bg{
  background-color: #151515;
  padding: 0;
  opacity: 1;
}


.h-txt.h-ct a{
 color: #fff;
}


/* LINKS */
.nav-links{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

/* ACTIVE LINK */
.active-links{
  text-decoration: underline #fff;
}

.space-y{
  margin-top: 100px;
}





/* MAP SECTION LINKS CUSTOM CLASS  */
/* !====== MAP SECTION LINKS CUSTOM CLASS !====== */
.text-sm-crs-pb{
  color: #FFD700;
  font-size: 20px;
  padding-top:  0.55rem;
  cursor: pointer;
 
}
.crs-li{
  cursor: pointer;
  list-style: none;
  padding-top: 0.55rem;
  padding-bottom: 2px;
}

.dark::after:hover{
  filter: brightness(.4);
  content: 'Book Now';
  font-size: 30px;
  color: white;
}


.trans{
  transition: #FFD700 10s ease-in;
}

.animation{
  transition: 0ms ease;
}

.txt{
  filter:brightness(1.2);
}


/* CONTACT US MEDIA QUIRES  */
/* !====== MEDIUM DEVICES !====== */
@media (600px <= width <= 700px) {
   .c-bg-h{
    height: 265vh;
   }
   .c-w-h{
    width: 390px;
    position: absolute;
    right: 155px;
   }

   .c-i-box{
    display: flex;
    flex-direction: column;
    align-items: start;
   }

   .c-w-t{
    width: 100%;
    padding-left: 1rem;
   }

   .c-p-l {
    padding-left: 1.5rem;
   }

   .c-w-btn{
     padding: 8px 9px;
     width: 50%;
   }

   .g-c-1{
    display: grid;
    grid-template-columns: 1fr;
   }

   .f-g-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }

   .f-p-l{
    padding-left: 20px;
    padding-bottom: 4px;
    display: flex;
  }
}



/* !====== SMALL DEVICES !====== */

@media (500px <= width <= 600px) {

  .c-bg-h{
   height: 250vh;
  }
  .c-w-h{
   width: 420px;
   position: absolute;
   right: 75px;
   bottom: 15px;
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  .c-w-btn{
    padding: 8px 9px;
    width: 40%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }

}

@media (400px <= width <= 500px) {

  .c-bg-h{
   height: 230vh;
  }
  .c-w-h{
   width: 355px;
   position: absolute;
   right: 30px;
   /* bottom: 10px; */
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  /* .f-pad-l{
    padding-left: 1.4rem;
  } */

  .c-w-btn{
    padding: 8px 9px;
    width: 40%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }

  /* .f-i-s{
    width: 30px;
    height: 30px;
  } */

}


/* !====== SMALL DEVICES !====== */
/* @media (386px <= width <= 399px) {
  body{
    width: 110vw;
  }
  .c-bg-h{
   height: 260vh;
  }
  .c-w-h{
   width: 355px;
   position: absolute;
   right: 60px;
   bottom: 10px;
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  .c-w-btn{
    padding: 8px 9px;
    width: 70%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }
} */



@media (300px <= width <= 399px) {
  .custom-class-nav{
    padding-left: 2px;
    font-size: 14px;
  }

  .custom-class-nav img{
    height: 45px;
  }

  .custom-class-nav-ct{
    height: 40px;
  }
  .custom-class-open{
   top: 1rem;
   right: 0.9rem;
  }

  .custom-class-close{
    top: 1rem;
    right: 0.9rem;
   }

   /* NAVBAR CONTENT */
   .custom-btn-width{
    width: 75%;
   }

   /* MAP CONTENT */
   .custom-class-space{
     gap: 100px;
   }

   /* AD */
   .custom-btn-ad{
     width: 45%;
   }
   .custom-class-height{
    height: 90vh;
   }

   /* FAQ */
   .custom-class-width{
    width: 100%;
   }
   .custom-class-card{
    width: 190%;
   }

   .custom-class-btn-width {
      width: 115%;
   }

   .custom-class-trans{
    transition: all .5s ease-in-out 0s;
   }

   .custom-class-pb{
    padding-bottom: 13rem;
   }

   /* FORM */
   .custom-class-bottom{
    bottom: 0.2rem;
    left: 1.2rem;
   }
   .custom-class-height-form{
    height: 220vh;
   }

   .custom-class-padding-left{
    padding-left: 0rem;
   }

    /* LOG IN */
   .custom-class-login-padds{
    padding: 10px;
   }

   /* BOOK DETAILS */
   .custom-class-book-padds{
    padding: 10px;
   }
   .custom-class-bk-pos{
    right: 50px;
   }

   .custom-class-book-btn{
    padding: 10px;
    width: 20%;
   }

   .custom-class-bk-pos-l{
    right: 85px;
   }
  
   /* FOOTER */
   .custom-class-flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
   }
   .custom-class-hidden{
    display: none;
   }
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 180vw;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  /* max-width: 40vw; */
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
  display: none;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #FFD700;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  gap: 4px;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
  color: #FFD700;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
