@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
 

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden
}

/*  */

.--el {
  --i: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 , 17, 18, 19, 20;
}

.btn:hover i:nth-child(1) { animation-delay: calc(1 * 0.075s); }
.btn:hover i:nth-child(2) { animation-delay: calc(2 * 0.075s); }
.btn:hover i:nth-child(3) { animation-delay: calc(3 * 0.075s); }
.btn:hover i:nth-child(4) { animation-delay: calc(4 * 0.075s); }
.btn:hover i:nth-child(5) { animation-delay: calc(5 * 0.075s); }
.btn:hover i:nth-child(6) { animation-delay: calc(6 * 0.075s); }
.btn:hover i:nth-child(7) { animation-delay: calc(7 * 0.075s); }
.btn:hover i:nth-child(8) { animation-delay: calc(8 * 0.075s); }
.btn:hover i:nth-child(9) { animation-delay: calc(9 * 0.075s); }
.btn:hover i:nth-child(10) { animation-delay: calc(10 * 0.075s); }
.btn:hover i:nth-child(11) { animation-delay: calc(11 * 0.075s); }
.btn:hover i:nth-child(12) { animation-delay: calc(12 * 0.075s); }
.btn:hover i:nth-child(13) { animation-delay: calc(13 * 0.075s); }
.btn:hover i:nth-child(14) { animation-delay: calc(14 * 0.075s); }
.btn:hover i:nth-child(15) { animation-delay: calc(15 * 0.075s); }
.btn:hover i:nth-child(16) { animation-delay: calc(16 * 0.075s); }
.btn:hover i:nth-child(17) { animation-delay: calc(17 * 0.075s); }
.btn:hover i:nth-child(18) { animation-delay: calc(18 * 0.075s); }
.btn:hover i:nth-child(19) { animation-delay: calc(19 * 0.075s); }
.btn:hover i:nth-child(20) { animation-delay: calc(20 * 0.075s); }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.btn i {
  font-style: normal;
}

.btn:hover {
  animation-name: gradient;
  animation-duration: 1s;
}

.btn:hover i {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-delay: calc(var(--i) * 0.075s);
}

@keyframes gradient {
  90% {
      background-color: none;
  }
}

@keyframes jump {
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.t-s-e{
  transition: 0.5s ease-in-out;
}
/* TRANSTITONS */
.tr-s-e:hover{
  background-color: #161614;
  transition: background-color 0.4s ease-in-out;
  opacity: 1;
}

/* CUSTOM CSS CLASSES */
/* ======= HEADER =========== */
.h-80-vh{
  height: 80vh;
}


.darbg-text{
  /* text-shadow: 0px 0px 4px #fff 0; */
}
.darkbg:hover{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  background-color: transparent;
  border: none;
  /* opacity: 0.9; */
}

.zoom-in:hover{
  transform: scale(.9);
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}
.swiper_container {
  padding: 0 0;
  position: relative;
}

.swiper-slide {
  width: 35rem;
  height: 35rem;
  position: relative;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}



/* GRID LAYOUT  */
/* ========= GRID LAYOUT ======== */
.grid-layout-cols{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid-col-2{
  grid-column: span 2;
}

.grid-row-2{
  grid-row: span 3;
}

.grid-col-3{
  grid-column: span 2;
}

.grid-row-3{
  grid-row: span -1;
}



/* IMAGE GRID LAYOUT  */
/* !====== IMAGE GRID LAYOUT !====== */

.bg-container{
  position: relative;
  display: inline-block; /* Adjust as needed */
}
.bg-container::before {
  content: "Book now"; /* Empty content */
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.5); /* Darker background color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition on hover */
}

/*  */
.bg-container:hover::before {
  opacity: 1; /* Show the overlay on hover */
}

/* Lo */
.bg-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}




/* IMAGE FIXED LAYOUT  */
/* !====== IMAGE FIXED LAYOUT !====== */
.fixed{
  position: fixed;
  top: 0;
  left:0;
  z-index: 9999;
  width: 100%;
}

/* EDIT THE BG TRANSPARENCY */


.fixed-bg{
  background-color: #151515;
  padding: 0;
  opacity: 1;
}

.fixed-txt.h-ct a{
 color: #fff;
}

/* LINKS */
.nav-links{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

/* ACTIVE LINK */
.active-links{
  text-decoration: underline #fff;
}

.space-y{
  margin-top: 100px;
}





/* MAP SECTION LINKS CUSTOM CLASS  */
/* !====== MAP SECTION LINKS CUSTOM CLASS !====== */
.text-sm-crs-pb{
  color: #FFD700;
  font-size: 20px;
  padding-top:  0.55rem;
  cursor: pointer;
 
}
.crs-li{
  cursor: pointer;
  list-style: none;
  padding-top: 0.55rem;
  padding-bottom: 2px;
}

.dark::after:hover{
  filter: brightness(.4);
  content: 'Book Now';
  font-size: 30px;
  color: white;
}


.trans{
  transition: #FFD700 10s ease-in;
}

.animation{
  transition: 0ms ease;
}

.txt{
  filter:brightness(1.2);
}


/* CONTACT US MEDIA QUIRES  */
/* !====== MEDIUM DEVICES !====== */
@media (600px <= width <= 700px) {
   .c-bg-h{
    height: 265vh;
   }
   .c-w-h{
    width: 390px;
    position: absolute;
    right: 155px;
   }

   .c-i-box{
    display: flex;
    flex-direction: column;
    align-items: start;
   }

   .c-w-t{
    width: 100%;
    padding-left: 1rem;
   }

   .c-p-l {
    padding-left: 1.5rem;
   }

   .c-w-btn{
     padding: 8px 9px;
     width: 50%;
   }

   .g-c-1{
    display: grid;
    grid-template-columns: 1fr;
   }

   .f-g-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }

   .f-p-l{
    padding-left: 20px;
    padding-bottom: 4px;
    display: flex;
  }
}



/* !====== SMALL DEVICES !====== */

@media (500px <= width <= 600px) {

  .c-bg-h{
   height: 250vh;
  }
  .c-w-h{
   width: 420px;
   position: absolute;
   right: 75px;
   bottom: 15px;
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  .c-w-btn{
    padding: 8px 9px;
    width: 40%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }

}

@media (400px <= width <= 500px) {

  .c-bg-h{
   height: 250vh;
  }
  .c-w-h{
   width: 355px;
   position: absolute;
   right: 30px;
   bottom: 18px;
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  .c-w-btn{
    padding: 8px 9px;
    width: 40%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }

}


/* !====== SMALL DEVICES !====== */
@media (386px <= width <= 399px) {
  body{
    width: 110vw;
  }
  .c-bg-h{
   height: 260vh;
  }
  .c-w-h{
   width: 355px;
   position: absolute;
   right: 60px;
   bottom: 10px;
  }

  .c-i-box{
   display: flex;
   flex-direction: column;
   align-items: start;
  }

  .c-w-t{
   width: 100%;
   padding-left: 1rem;
  }

  .c-p-l {
   padding-left: 1.5rem;
  }

  .c-w-btn{
    padding: 8px 9px;
    width: 70%;
  }

  .g-c-1{
   display: grid;
   grid-template-columns: 1fr;
  }
}